@page "/chart"

@using BlazorServer.Models
@inject WeatherServices Service

<h1>Temperature Linear chart</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            <label>Smooth <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox></label>
            <RadzenChart Style="width: 1500px; height: 650px">
                <RadzenLineSeries Smooth="@smooth" Data="@_weathers" CategoryProperty="DateTime" Title="2020" LineType="LineType.Dashed" ValueProperty="Temperature">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                <RadzenValueAxis Min="0" Max="30" Step="5">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Temperature in Celsius" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
@code {
    bool smooth = false;
    
    List<WeatherDay> _weathers = new List<WeatherDay>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshWeathers();
    }

    private async Task RefreshWeathers()
    {
        _weathers = await Service.GetWeatherAsync();
    }
    
    };
}